.btnClassic {
    width: 50px;
    height: 50px;
    margin: 1%;
    border-radius: 50%;
    border: 1px;
  }

  .btnClassic:focus {
    width: 55px;
    height: 55px;
    margin: 2%;
    border-radius: 55%;
    border: 2px;
  }
  .output_canvas {
    
    border-left: 1px solid  rgb(15, 14, 14);
    border-right: 1px solid  rgb(15, 14, 14);
  }
  @media only screen and (min-width: 1250px) and (max-width:1399px) {
  #root{
      max-height: 779px;
    }
  #root1{
    position: absolute;
    top: 630px;
    
  }
  .output_canvas {
    min-height: 600px;
    min-width: 100px; 
    border-left: 1px solid  rgb(15, 14, 14);
    border-right: 1px solid  rgb(15, 14, 14);

  }
} 